---
---
<meta charset="utf-8">

<meta property="og:title" content="Call for proposals">
<meta property="og:site_name" content="UbuCon Asia 2024" >
<meta property="og:url" content="">
<meta property="og:description" content="Submit to speak today! Deadline Apr 13, 2024, 12:00 AM IST">
<meta property="og:type" content="">
<meta property="og:image" content="https://2024.ubucon.asia/uca24cfp.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@UbuConAsia">
<meta name="twitter:title" content="UbuCon Asia 2024 Call for proposals">
<meta name="twitter:description" content="Submit to speak today! Deadline Apr 13, 2024, 12:00 AM IST">
<meta name="twitter:image" content="https://2024.ubucon.asia/uca24cfp.png">

<body>
    <p>Page won't redirect if Javescript is disabled. <a href="https://events.canonical.com/event/47/abstracts/">In that case, Click here to redirect manually.</a></p>
</body>

<script is:inline>
    //redirect
    window.location = "https://events.canonical.com/event/47/abstracts/" 
</script>