---
import Shell from "../layouts/Shell.astro";
import { config } from "../config";
import { Strip, Col, Row } from "@canonical/react-components";
import uca24logo from "./uca24logo.png";
---

<Shell title={config.siteTitle}>
    <Strip type="accent" element="section" includeCol={false}>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <p class="p-heading--2">UbuCon Asia 2024</p>
            </Col>
        </Row>
        <Row>
            <Col size={3}>
                <img src={uca24logo.src} alt="" width="160" />
            </Col>
            <Col size={9}>
                <p>
                    The 4th edition of UbuCon (Ubuntu Conference) Asia to be
                    held in JECRC University, Jaipur, India from August 31st to
                    September 2nd
                </p>
                <p><small>*Dates and venue to be confirmed soon.</small></p>
            </Col>
        </Row>
        <Row>
            <Col size={3} />
            <Col size={9}>
                <hr />
                <a href="#" class="p-button--positive">About the event</a>
                <a href="mailto:sponsorship@ubucon.asia" class="p-button"
                    >Interested to sponsor us?</a
                >
            </Col>
        </Row>
        <Row>
            <Col size={12}>
                <div class="p-suru is-dark"></div>
            </Col>
        </Row>
    </Strip>
</Shell>

<style></style>
