---
---
<meta charset="utf-8">

<meta property="og:title" content="Register">
<meta property="og:site_name" content="UbuCon Asia 2024" >
<meta property="og:url" content="">
<meta property="og:description" content="Register to attend UbuCon Asia 2024 (Aug 31 - Sep 2, JECRC Foundation, Jaipur, India)">
<meta property="og:type" content="">
<meta property="og:image" content="https://2024.ubucon.asia/uca24register.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@UbuConAsia">
<meta name="twitter:title" content="Register for UbuCon Asia 2024">
<meta name="twitter:description" content="Register to attend UbuCon Asia 2024 (Aug 31 - Sep 2, JECRC Foundation, Jaipur, India)">
<meta name="twitter:image" content="https://2024.ubucon.asia/uca24register.jpg">

<body>
    <p>Page won't redirect if Javescript is disabled. <a href="https://konfhub.com/uca">In that case, Click here to redirect manually.</a></p>
</body>

<script is:inline>
    //redirect
    window.location = "https://konfhub.com/uca" 
</script>