---
import "vanilla-framework/_index.scss";
import Shell from "@layouts/Shell.astro";
import { Strip, Col, Row } from "@canonical/react-components";

import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  description: string;
}>;


const { frontmatter } = Astro.props;
---

<Shell title={frontmatter.title} description={frontmatter.description}>
    <Strip bordered shallow colSize={8} element="section">
        <h1>{frontmatter.title}</h1>
        <p>{frontmatter.description}</p>
    </Strip>
    <Row>
        <Row>
            <Col size={12}>
                <slot />
            </Col>
        </Row>
    </Row>
</Shell>
